<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Sign in | Web-OS</title>
		<link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.css.map">
		<link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="../bootstrap/dist/css/bootstrap-theme.css.map">
		<link rel="stylesheet" href="../bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="../bootstrap/dist/css/bootstrap-theme.css">
        <link rel="stylesheet" href="css/admin.css">
	</head>
	<body class="web-os-back">
		    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bootstrap theme</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" role="button" aria-expanded="false" aria-haspopup="true" href="#" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider" role="separator"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
		<div class="container">
		<h1>h</h1>
		</div>
		
	</body>
	<script src="../jquery/dist/jquery.js"></script>
	<script src="../bootstrap/dist/js/bootstrap.js"></script>
</html>