@import "mixins.scss";
@import "hamburger";
@import "var";

body {
  font-family: Open-Sans;
  h1, h2, h3, h4, h5, h6, p, div {
    font-family: Open-Sans;
  }
}
$tableruntimeradius : 10px;
$restofmargin : 10px;
.restofpage {
  position: absolute;
  .container-fluid {
    margin-top: $restofmargin
  }
}
.runnings {
  table {
    text-align: center;
    border-radius: 10px;
    tbody {
      #lastrun {
        #lastrun1 {
          border-bottom-left-radius: $tableruntimeradius;
          -webkit-border-bottom-left-radius: $tableruntimeradius;
          -moz-border-bottom-left-radius: $tableruntimeradius;
        }
        #lastrun2 {
          border-bottom-right-radius: $tableruntimeradius;
          -webkit-border-bottom-right-radius: $tableruntimeradius;
          -moz-border-bottom-right-radius: $tableruntimeradius;
        }
      }
      .successrun {
        td {
          background-color: #26A65B;
          border-color: #ecf0f1;
          color: white;
        }
      }
      .esuccessrun {
        td {
          background-color: #e88731;
          border-color: #ecf0f1;
          color: white;
        }
      }
      .unsuccessrun {
        td {
          background-color: #e74c3c;
          border-color: #ecf0f1;
          color: white;
        }
      }
    }
    thead {
      text-align: inherit;
      tr {
        text-align: inherit;
        th {
          text-align: inherit;
          background-color: #2c3e50;
          border-color: #ecf0f1;
          color: #ecf0f1;
        }
        #state {
          width: 10px;
          border-top-left-radius: $tableruntimeradius;
          -webkit-border-top-left-radius: $tableruntimeradius;
          -moz-border-top-left-radius: $tableruntimeradius;
        }
        #run {
          width: 50px;
        }
        #wa {
          width: 150px;
        }
        #tub {
          width: 50px;
        }
        #date {
          border-top-right-radius: $tableruntimeradius;
          -webkit-border-top-right-radius: $tableruntimeradius;
          -moz-border-top-right-radius: $tableruntimeradius;
          width: 100px;
        }
      }
    }
  }
}

.apps {
  table {
    text-align: center;
    border-radius: 10px;
    tbody {
      #lastapp {
        #lastapp1 {
          border-bottom-left-radius: $tableruntimeradius;
          -webkit-border-bottom-left-radius: $tableruntimeradius;
          -moz-border-bottom-left-radius: $tableruntimeradius;
        }
        #lastapp2 {
          border-bottom-right-radius: $tableruntimeradius;
          -webkit-border-bottom-right-radius: $tableruntimeradius;
          -moz-border-bottom-right-radius: $tableruntimeradius;
        }
      }
      .run {
        td {
          background-color: #26A65B;
          border-color: #ecf0f1;
          color: white;
        }
      }
      .errorrunapp {
        background-color:
      }
    }
    thead {
      text-align: inherit;
      tr {
        text-align: inherit;
        th {
          text-align: inherit;
          background-color: #2c3e50;
          border-color: #ecf0f1;
          color: #ecf0f1;
        }
        #wa {
          width: 10px;
          border-top-left-radius: $tableruntimeradius;
          -webkit-border-top-left-radius: $tableruntimeradius;
          -moz-border-top-left-radius: $tableruntimeradius;
        }
        #run {
          width: 50px;
        }
        #wa {
          width: 150px;
        }
        #tub {
          width: 50px;
        }
        #tub {
          border-top-right-radius: $tableruntimeradius;
          -webkit-border-top-right-radius: $tableruntimeradius;
          -moz-border-top-right-radius: $tableruntimeradius;
          width: 100px;
        }
      }
    }
  }
}
