@import "dashboard-mobile-apple";

.runnings, .apps {
  width: 90% !important;
  table {
    thead {
      tr {
        th {
          height: 10px !important;
          //padding-top: 5px !important;
          //padding-bottom: 5px !important;
          padding: 5px !important;
        }
      }
    }
    tbody {
      tr {
        td {
          height: 10px !important;
          //padding-top: 5px !important;
          //padding-bottom: 5px !important;
          padding: 5px !important;
        }
      }
    }
  }
}
