// New dash
@import "mixins.scss";
@import "fonts";
$navbar-background : #1d1d1d;
$navbar-text-colour : #ecf0f1;
$navbar-background-hover : #131313;

#navbar-topper-a {
  background-color: $navbar-background;
  color: $navbar-text-colour;
  div a {
    color: $navbar-text-colour;
  }
  ul li a {
    color: $navbar-text-colour;
    text-decoration: none;
    background-color: $navbar-background;
  }
  ul li .open {
    background-color: $navbar-background-hover !important;
  }
  ul li a:hover {
    color: $navbar-text-colour;
    text-decoration: none;
    background-color: $navbar-background-hover;
  }
  ul li .dropdown-menu {
    background-color: $navbar-background;
    margin: 0;
  }
}
