// New dash
@import "mixins.scss";
@import "fonts";
$navbar-background : #222;
$navbar-text-colour : #9d9d9d;
$navbar-background-hover : #1a1a1a;

body {
  //font-family: open-sans;
}
#navbar-topper-a {
  font-family: open-sans;
  text-decoration: none;
  ul li a {
    font-family: open-sans;
    text-decoration: none;
    color: $navbar-text-colour;
    background-color: $navbar-background !important;
  }
  ul li a:hover {
    text-decoration: none;
    color: $navbar-text-colour;
    background-color: $navbar-background-hover !important;
  }
  .dropdown-tasks li a {
    padding-top: 10px;
  }
  ul li ul {
    font-family: open-sans;
    background-color: $navbar-background;
    color: $navbar-text-colour;
    .divider {
      background-color: #2d2d2d !important;
      margin: 5.3px 0 !important;
    }
    li {
      background-color: $navbar-background !important;
      a {
        background-color: $navbar-background !important;
      }
    }
  }
  ul .open a {
    font-family: open-sans;
    background-color: $navbar-background-hover;
  }
}
#navbar-side-one {

}
