@import "mixins.scss";
@import "hamburger";
@import "var";

body {
  font-family: Open-Sans;
  h1, h2, h3, h4, h5, h6, p, div {
    font-family: Open-Sans;
  }
}
$tableruntimeradius : 10px;
$restofmargin : 10px;
.restofpage {
  position: absolute;
  background-color: #ebebeb !important;
  .container-fluid {
    margin-top: $restofmargin;
    padding-left: 5px !important;
  }
}
.runnings {
  width: 400px;
  background-color: #f2f2f2;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  h5 {
    margin-left: 10px;
    font-family: OpenSans-Bold;
  }
  ul {
    list-style-type: none;
    padding-left: 10px !important;
    a {
      text-decoration: none;
      ul {
        li {
          display: inline;
        }
      }
    }
  }
}

.apps {
  table {
    text-align: center;
    border-radius: 10px;
    tbody {
      #lastapp {
        #lastapp1 {
          border-bottom-left-radius: $tableruntimeradius;
          -webkit-border-bottom-left-radius: $tableruntimeradius;
          -moz-border-bottom-left-radius: $tableruntimeradius;
        }
        #lastapp2 {
          border-bottom-right-radius: $tableruntimeradius;
          -webkit-border-bottom-right-radius: $tableruntimeradius;
          -moz-border-bottom-right-radius: $tableruntimeradius;
        }
      }
      .run {
        td {
          background-color: #26A65B;
          border-color: #ecf0f1;
          color: white;
        }
      }
      .errorrunapp {
        td {
          background-color: #e74c3c !important;
          border-color: #ecf0f1;
          color: white;
        }
      }
    }
    thead {
      text-align: inherit;
      tr {
        text-align: inherit;
        th {
          text-align: inherit;
          background-color: #2c3e50;
          border-color: #ecf0f1;
          color: #ecf0f1;
        }
        #wa {
          width: 10px;
          border-top-left-radius: $tableruntimeradius;
          -webkit-border-top-left-radius: $tableruntimeradius;
          -moz-border-top-left-radius: $tableruntimeradius;
        }
        #run {
          width: 50px;
        }
        #wa {
          width: 150px;
        }
        #tub {
          width: 50px;
        }
        #tub {
          border-top-right-radius: $tableruntimeradius;
          -webkit-border-top-right-radius: $tableruntimeradius;
          -moz-border-top-right-radius: $tableruntimeradius;
          width: 100px;
        }
      }
    }
  }
}
