@import "float.css";

@font-face {
     font-family: FiraSans-UltraLight;
     src: url(fonts/fira-sans/FiraSans-UltraLight.otf);
}


.Jakhu-back,html {
  /*background-image: url("img/nav-back-two.png");
  color: light-blue;*/
}

#head {
  font-family: FiraSans-UltraLight;
}

.blue {
  
}

.pad-top-middle {
  padding-top: 3cm;
}

.black-back {
  background-color: black;
}

.pad-small-top-side {
  padding-top: 2cm;
}

.blue-back {
}

.side {
  width: 6cm
}

.minus {
  margin-top: -5.5cm;
}

.minus-alert {
  margin-top: -0.1cm;
}

.navbar-inverse:a {
  color: white;
}
