<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard | Web-OS</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css.map" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.css.map" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/dashboard.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body class="co">
    <!--Navbar-->
    <nav class="navbar navbar-default navtop">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Web-OS</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li class="not-drop"><a href="#">Plugins</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Signout</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login with a 2cd level login <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--Spacing-->
<p>







</p>
<div class="row">
  <div class="container-fluid">
    <div class="header">
        <h1>Welcome back, <%=user %>! </h1>
    </div>
  </div>
  <div class="container-fluid">
    <div class="header">
      <h3>Your Web-apps:</h3>
    </div>
  </div>
  <div class="back-o container-fluid">
    <table class="table">
              <thead>
                <tr>
                  <th>Web-App Name</th>
                  <th>Language</th>
                  <th>Deployed to...</th>
                  <th>Running</th>
                  <th> Options</th>
                </tr>
              </thead>
              <tbody>
                <tr class="t-node">
                  <td>Nodejs app</td>
                  <td>Nodejs</td>
                  <td>Heroku</td>
                  <td>Yes</td>
                  <td>
                    <!-- Start -->
                    <button type="button" class="btn btn-success">Start</button>
                    <button type="button" class="btn btn-danger">Stop</button>
                    <button type="button" class="btn btn-warning">Restart</button>
                    <button type="button" class="btn btn-primary">Settings</button>
                    <button type="button" class="btn btn-info">View</button>
                  </td>
                </tr>
                <tr class="t-ruby">
                  <td>Rails app</td>
                  <td>Rails</td>
                  <td>AWS</td>
                  <td>ERROR!</td>
                  <td>
                    <!-- Start -->
                    <button type="button" class="btn btn-success">Start</button>
                    <button type="button" class="btn btn-danger">Stop</button>
                    <button type="button" class="btn btn-warning">Restart</button>
                    <button type="button" class="btn btn-primary">Settings</button>
                    <button type="button" class="btn btn-info">View</button>
                  </td>
                </tr>
                <tr class="t-python">
                  <td>Python app</td>
                  <td>Python</td>
                  <td>NONE</td>
                  <td>Starting...</td>
                  <td>
                    <!-- Start -->
                    <button type="button" class="btn btn-success">Start</button>
                    <button type="button" class="btn btn-danger">Stop</button>
                    <button type="button" class="btn btn-warning">Restart</button>
                    <button type="button" class="btn btn-primary">Settings</button>
                    <button type="button" class="btn btn-info">View</button>
                  </td>
                </tr>
                <tr class="t-php">
                  <td>PHP app</td>
                  <td>Php</td>
                  <td>Azure</td>
                  <td>Restarting..</td>
                  <td>
                    <!-- Start -->
                    <button type="button" class="btn btn-success">Start</button>
                    <button type="button" class="btn btn-danger">Stop</button>
                    <button type="button" class="btn btn-warning">Restart</button>
                    <button type="button" class="btn btn-primary">Settings</button>
                    <button type="button" class="btn btn-info">View</button>
                  </td>
                </tr>
              </tbody>
            </table>
  </div>

  <div class="container-fluid">
    <div class="table-head">
      <p>
        <span class="glyphicon glyphicon-plus"></span> New <p>   </p>
        <span class="glyphicon glyphicon-pencil"></span> Edit
        <span class="glyphicon glyphicon-download-alt"></span> Install more tools
      </p>
      <span class="glyphicon glyphicon-plus"></span> New
      <span class="glyphicon glyphicon-pencil"></span> Edit
      <span class="glyphicon glyphicon-download-alt"></span> Install more tools
        <div class="gly">
          <span class="glyphicon glyphicon-plus"></span> New
        </div>
        <div class="gly">
          <span class="glyphicon glyphicon-pencil"></span> Edit
        </div>
      <div class="gly">
        <span class="glyphicon glyphicon-download-alt"></span> Install more tools
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="table-head">
      <div class="gly">
        <span class="glyphicon glyphicon-pencil"></span> Edit
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="table-head">
      <div class="gly">
        <span class="glyphicon glyphicon-download-alt"></span> Install more tools
      </div>
    </div>
  </div>
</div>

    <!--System info -->
    <div class="container-fluid">
      <div class="system-info-build">
        <h5>ALPHA Copy,</h5>
        <h5>Not all features may be avalible.</h5>
        <h5>Build <%=build %></h5>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
