<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard | Web-OS</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css.map" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.css.map" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/dashboard.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body class="co">
    <!--Navbar-->
    <nav class="navbar navbar-default navtop navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="pad-nav-b"><a class="navbar-brand" href="#">Web-OS</a><a class="navbar-brand" href="#">/</a><a class="navbar-brand" href="#"> Dashboard</a></div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <!--<form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>-->
      <ul class="nav navbar-nav navbar-right pad-nav-s">
        <li class="dropdown">
       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="name-nav">Welcome,   <%=user%> <img id="profile-img" src=<%=imgprofile%> alt="" /> <span class="caret"></span></a>
       <ul class="dropdown-menu">
         <li><a href="/dashboard/account/profile" class="list"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
         <li><a href="/dashboard/account/settings" class="list"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
         <li><a href="/dashboard/repos" class="list"><span class="glyphicon glyphicon-file"></span> My Repos</a></li>
         <li><a href="/dashboard/repos" class="list"><span class="glyphicon glyphicon-console"></span> Console</a></li>
         <li role="separator" class="divider"></li>
         <li><a href="/docs/home" class="list">Help</a></li>
         <li><a href="/about" class="list">Release Notes</a></li>
         <li role="separator" class="divider"></li>
         <li><a href="/about" class="list">About...</a></li>
       </ul>
     </li>
        <li><a href="#">Signout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid h">
  <div class="box alert-dismissible alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h1>ALPHA Copy</h1>
    <h3>
      You're using an alpha copy of our software.
      We just want to say thankyou, for helping us develop this.
      However, this software is not yet feature complete
      and there will be bugs.
    </h3>
  </div>
</div>
  <div class="container-fluid">
    <div class="table-t">
        <h1>Web-apps: </h1>
    </div>
  </div>

    <table class="table">
              <thead>
                <tr>
                  <th>Web-App Name</th>
                  <th>Language</th>
                  <th>Deployed to...</th>
                  <th>Running</th>
                  <th> Options</th>
                </tr>
              </thead>
              <tbody>
                <tr class="t-node">
                  <td>Nodejs app</td>
                  <td>Nodejs</td>
                  <td>Heroku</td>
                  <td>Yes</td>
                  <td>
                    <!-- Start -->
                    <button type="button" class="btn btn-success">Start</button>
                    <button type="button" class="btn btn-danger">Stop</button>
                    <button type="button" class="btn btn-warning">Restart</button>
                    <button type="button" class="btn btn-primary">Settings</button>
                    <button type="button" class="btn btn-info">View</button>
                  </td>
                </tr>
                <tr class="t-ruby">
                  <td>Rails app</td>
                  <td>Rails</td>
                  <td>AWS</td>
                  <td>ERROR!</td>
                  <td>
                    <!-- Start -->
                    <button type="button" class="btn btn-success">Start</button>
                    <button type="button" class="btn btn-danger">Stop</button>
                    <button type="button" class="btn btn-warning">Restart</button>
                    <button type="button" class="btn btn-primary">Settings</button>
                    <button type="button" class="btn btn-info">View</button>
                  </td>
                </tr>
                <tr class="t-python">
                  <td>Python app</td>
                  <td>Python</td>
                  <td>NONE</td>
                  <td>Starting...</td>
                  <td>
                    <!-- Start -->
                    <button type="button" class="btn btn-success">Start</button>
                    <button type="button" class="btn btn-danger">Stop</button>
                    <button type="button" class="btn btn-warning">Restart</button>
                    <button type="button" class="btn btn-primary">Settings</button>
                    <button type="button" class="btn btn-info">View</button>
                  </td>
                </tr>
                <tr class="t-php">
                  <td>PHP app</td>
                  <td>Php</td>
                  <td>Azure</td>
                  <td>Restarting..</td>
                  <td>
                    <!-- Start -->
                    <button type="button" class="btn btn-success">Start</button>
                    <button type="button" class="btn btn-danger">Stop</button>
                    <button type="button" class="btn btn-warning">Restart</button>
                    <button type="button" class="btn btn-primary">Settings</button>
                    <button type="button" class="btn btn-info">View</button>
                  </td>
                </tr>
              </tbody>
            </table>
  </div>

    <!--System info -->
    <div class="container-fluid">
      <div class="system-info-build">
        <h5>ALPHA Copy,</h5>
        <h5>Not all features may be avalible.</h5>
        <h5>Build <%=build %></h5>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
