<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css.map">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.css.map">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/oobe.css">
    <title>Welcome</title>
  </head>
  <body class="web-os-back">
    <h1 class="base-pad pad-jum-down">Hang on a sec...</h1>
    <b class="base-pad sub-title">We're just getting Web-OS ready</b>
    <div class="system-info-build">
      <h6>ALPHA Copy,</h6>
      <h6>Not all features may be avalible.</h6>
      <h6>Build <%=build %></h6>
    </div>
  </body>
</html>
