<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css.map">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.css.map">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/oobe.css">
    <title>Welcome</title>
  </head>
  <body class="web-os-back">
    <div>
      <h1 class="boot-title-oobe">What type of install do you want?</h1>
    </div>
    <div class="selection-box">
      <div class="selection-box-box">
        <h3 class="selection-box-h3"><span class="glyphicon glyphicon-cog"></span> Standard</h3>
        <div class="selection-sub">
          <p>
            Web-OS will automatically install bower, mocha, less and sass, install the modules (shown in package.json and bower.json),
            configure Web-OS and apply the dashboard.
          </p>
        </div>
      </div>
    </div>
      <div class="system-info-build">
        <h5>ALPHA Copy,</h5>
        <h5>Not all features may be avalible.</h5>
        <h5>Build <%=build %></h5>
      </div>
  </body>
</html>
