<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css.map">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.css.map">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/oobe.css">
    <script type="text/javascript" src="jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="js/all.js"></script>
    <title>Welcome</title>
  </head>
  <body class="web-os-back">
    <!-- TODO: Create lisence -->
    <div>
      <h1 class="boot-title-oobe">License Agreement</h1>
      <h3 class="boot-sub-title">We use the MIT License in addition to our own license.</h3>
    </div>
    <div class="par-l container-fluid">
    <div class="license">
      <b><h2 class="boot-sub-title lth">MIT license</h2></b>
      <!-- TODO: Add lines -->
      <h5 class="lt">The WOS License (WEB-OS)</h5>
<h5 class="lt">                                   </h5>
      <h5 class="lt">Copyright (c) 2015</h5>

      <h5 class="lt">Permission is hereby granted, on acceptance of this license,
      to the person holding a copy of the software, documents and source code,
      to edit, refine and use this software, as long as they go by the following:</h5>
<h5 class="lt">                                   </h5>
    <h5 class="lt">They can contribute and claim their code as their own but they
    can NOT claim all the software's code as their own.
    They can fork this software, edit and refine it to be something else,
    as long as their are still links back to the original source code and its authors.
    They must state that the forked/copied code is not theirs,
    and must display the fact that the forked/copied code,
    clearly, in their documentation and/or their description of the software.</h5>
<h5 class="lt">                    </h5>
  <h5 class="lt"> THIS SOFTWARE IS PROVIDED, AS IS, WITHOUT A WARRENTY, ONLY BY THE EXTENT OF THE LAW.
  THE AUTHORS, CONTRIBUTERS AND FORKERS ARE, BY THIS LICENSE, NOT ALLOWED TO CLAIM...
  ...THAT THE WHOLE OF THIS SOFTWARE IS THEIR OWN, THEY CAN ONLY CLAIM AND REMOVE...
  ...THEIR OWN CODE IF APPLICABLE. IF LEGAL ACTION IS REQUIRED, PLEASE CONSULT THE AUTHOR OF THIS SOFTWARE.</h5>

</h5>
    </div>
    <!--Accept and decline-->
    <a href="/accept"style="text-decoration:none">
    <div class="row container-fluid">
      <div class="accept">
        <p class="accept-p">
          Accept
        </p>
      </div>
    </div>
    </a>
    <a href="/decline" style="text-decoration:none">
    <div class="row container-fluid">
    <div class="accept">
      <p class="accept-p">
        Decline
      </p>
    </div>
    </div>
    </a>
  </div>
      <div class="system-info-build">
        <h5>ALPHA Copy,</h5>
        <h5>Not all features may be avalible.</h5>
        <h5>Build <%=build %></h5>
      </div>
  </body>
</html>
