<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css.map">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.css.map">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/oobe.css">
    <title>Welcome</title>
  </head>
  <body class="web-os-back">
    <div>
      <h1 class="boot-title-oobe">What deployment tools should we install?</h1>
      <h3 class="boot-sub-title">Simply tick them off</h3>
    </div>

    <form method="post" action="/set-opt-standard">
  <div class="checkbox tick-pad oobe-dep-options">
    <label for="test">Heroku</label>
<label class="check">
    <input type="checkbox" name="test"/>
    <span></span>
</label>
  </div>

  <div class="oobe-next btn-group btn-group-lg b-o" role="group" aria-label="...">
    <button type="submit" class="btn btn-default web-os-main-font">Next</button>
  </div>
</form>
      <div class="system-info-build">
        <h5>ALPHA Copy,</h5>
        <h5>Not all features may be avalible.</h5>
        <h5>Build <%=build %></h5>
      </div>
  </body>
</html>
