<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css.map">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.css.map">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/oobe.css">
    <title>Welcome</title>
  </head>
  <body class="Jakhu-back">
    <div>
      <h1 class="boot-title-oobe">Jakhu</h1>
    </div>

    <form method="post" action="/set-lang">
  <div class="form-group container-fluid form">
    <label for="lang">Select your language</label>
    <select id="lang" name="lang" class="form-control">
   <option class="correct-height"value="english">English</option>
   <option value="fork" disabled>Create more languages by forking the repo, createing a new branch ({language}-a1) and createing your new language there</option>
 </select>
  </div>
  <div class="form-group container-fluid form">
    <label for="lang" class="center">Region</label>
    <select id="lang" name="region" class="form-control center">
   <option class="correct-height"value="uk">uk</option>
   <option class="correct-height"value="us" >us</option>
   <option class="correct-height"value="india">india</option>
   <option class="correct-height"value="other">other</option>
   <option value="fork" disabled>Create more regions by forking the repo, createing a new branch ({region}-a1) and createing your new language there</option>
 </select>
  </div>
  <div class="checkbox tick-pad">
    <label>
      <input type="checkbox" name="allow">Allow the sending of data to Jakhu (doesn't work)
    </label>

  </div>

  <div class="oobe-next btn-group btn-group-lg b-o" role="group" aria-label="...">
    <button type="submit" class="btn btn-default Jakhu-main-font">Next</button>
  </div>
</form>
      <div class="system-info-build">
        <h5>ALPHA Copy,</h5>
        <h5>Not all features may be avalible.</h5>
        <h5>Build <%=build %></h5>
      </div>
  </body>
</html>
