<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css.map">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.css.map">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/oobe.css">
    <script type="text/javascript" src="jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="js/all.js"></script>
    <title>Welcome</title>
  </head>
  <body class="Jakhu-back">
    <div>
      <h1 class="boot-title-oobe">What type of install do you want?</h1>
      <h3 class="boot-sub-title">All installs come with deployment services, the Jakhu main dashboard and individual dashboards for within your apps!</h3>
      <h3 class="boot-sub-title">Scroll down for them all!</h3>
    </div>
    <div class="selection-box">
      <div class="selection-box-box">
        <h3 class="selection-box-h3"><span class="glyphicon glyphicon-cog"></span> Instances (Recommended, multiple web-apps)</h3>
        <div class="selection-sub">
          <p>
            We will install common web-app development tools (<b>Ruby on Rails</b>, <b>gem</b>, <b>rvm</b>, <b>bundle</b>,
            <b>Nodejs express-generator</b>,
            <b>npm</b>, <b>apache maven</b> ) and runtimes (<b>java sdk, java jre, nodejs, iojs, python 2 or 3</b>).
            To add to this, you will be able to use the Jakhu dashboard to manage, create and deploy multiple web-apps (instances),
            all stored in the 'instances' dir. Finally, we will install deployment services for FTP, SSH, heroku, aws (Amazon Web Services), github (for opensource), Visual Studio Online (git only) and Microsft Azure.
          </p>
        </div>
      </div>
    </div>
    
    <a href="/set-install-standard" style="text-decoration:none">
    <div class="selection-box">
      <div class="selection-box-box">
        <h3 class="selection-box-h3"><span class="glyphicon glyphicon-cog"></span> Standard</h3>
        <div class="selection-sub">
          <p>
            Jakhu will automatically install bower, mocha, nodemon, less and sass, install the modules (shown in package.json and bower.json),
            configure Jakhu and apply the dashboard. Also, we will install a set of deployment tools such as FTP, SSH, heroku, aws (Amazon Web Services), github (for opensource), Visual Studio Online (git only) and Microsft Azure.
             Recommended for people with only one web-app in development.
          </p>
        </div>
      </div>
    </div>
    </a>
    <div class="selection-box">
      <div class="selection-box-box">
        <h3 class="selection-box-h3"><span class="glyphicon glyphicon-cog"></span> Standard, Single app language (Recommended)</h3>
        <div class="selection-sub">
          <p>
            Jakhu will automatically install the required tools for your language (
            npm, express generator, bower, mocha and less for nodejs, rvm, ruby, gem, rake, bundle and rails for ruby .etc)
            , configure Jakhu and apply the dashboard. Also, we will install a set of deployment tools such as FTP, SSH, heroku, aws (Amazon Web Services), github (for opensource), Visual Studio Online (git only) and Microsft Azure.
             Recommended for people with only one web-app in development.
          </p>
        </div>
      </div>
    </div>
    <div class="selection-box">
      <div class="selection-box-box">
        <h3 class="selection-box-h3"><span class="glyphicon glyphicon-cog"></span> Custom</h3>
        <div class="selection-sub">
          <p>
            Customise everything! Choose the development tools you want, the packages you want, the Jakhu packages you want (not avalible, in development)
            and any extras! Create a ci (contious intergration) server to build your apps using the ci-tools, a mobile backend, a vpn! (NOTICE: You can also do this using the instances configuration)
          </p>
        </div>
      </div>
    </div>
      <div class="system-info-build">
        <h5>ALPHA Copy,</h5>
        <h5>Not all features may be avalible.</h5>
        <h5>Build <%=build %></h5>
      </div>
  </body>
</html>
