<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css.map">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.css.map">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/oobe.css">
    <title>Welcome</title>
  </head>
  <body class="Jakhu-back">
    <div>
      <h1 class="boot-title-oobe">What deployment tools should we install?</h1>
      <h3 class="boot-sub-title">Simply tick them off</h3>
    </div>

    <form method="post" action="/install-standard">
      <!-- TODO: Style tick boxes: fix in beta -->
  <div class="checkbox tick-pad">
    <label>
      <input type="checkbox" name="allow">Heroku
    </label>

  </div>

  <div class="checkbox tick-pad">
    <label>
      <input type="checkbox" name="allow">Git
    </label>
  </div>
  <div class="checkbox tick-pad">
    <label>
      <input type="checkbox" name="allow">ssh
    </label>
  </div>
  <div class="checkbox tick-pad">
    <label>
      <input type="checkbox" name="allow">Putty
    </label>
  </div>
  <div class="checkbox tick-pad">
    <label>
      <input type="checkbox" name="allow">FTP
    </label>
  </div>
  <div class="checkbox tick-pad">
    <label>
      <input type="checkbox" name="allow">AWS
    </label>
  </div>

  <div class="oobe-next btn-group btn-group-lg b-o" role="group" aria-label="...">
    <button type="submit" class="btn btn-default Jakhu-main-font">Install</button>
  </div>
</form>
      <div class="system-info-build">
        <h5>ALPHA Copy,</h5>
        <h5>Not all features may be avalible.</h5>
        <h5>Build <%=build %></h5>
      </div>
  </body>
</html>
