<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jakhu...starting</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css.map">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.css.map">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/boot.css">
  </head>
  <body>
    <h1 class="boot-title">Jakhu</h1>
    <h3 class="boot-sub-title">Welcome to Jakhu</h3>

    <a href="/start" class="no-a-blue">
    <div class="boot-mid btn-group btn-group-lg b-o" role="group" aria-label="...">
      <button type="button" class="btn btn-default">Start Now</button>
    </div>
    </a>

    <a href="/recovery" class="no-a-blue">
    <div class="boot-mid btn-group btn-group-lg b-o-t" role="group" aria-label="...">
      <button type="button" class="btn btn-default">Recovery</button>
    </div>
    </a>

    <div class="system-info-build">
      <h5>ALPHA Copy,</h5>
      <h5>Not all features may be avalible.</h5>
      <h5>Build <%=build %></h5>
    </div>
    <h4 class="setup-info-title"><span class="glyphicon glyphicon-ok"></span> Jakhu Setup</h4>
    <!--<h3 class="system-info-status">Loading Jakhu... (You will be redirected in a second)</h3>-->
  </body>
</html>
