<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css.map">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.css.map">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/oobe.css">
    <script type="text/javascript" src="jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="js/all.js"></script>
    <title>Welcome</title>
  </head>
  <body class="Jakhu-back">
    <!-- TODO: Create lisence -->
    <div>
      <h1 class="boot-title-oobe">Decline?</h1>
      <h3 class="boot-sub-title">Are you sure you would like to decline?</h3>
    </div>
    <div class="par-l container-fluid">
    <!--Accept and decline-->
    <a href="/decline-y">
    <div class="row container-fluid">
      <div class="accept">
        <p class="accept-p">
          Yes
        </p>
      </div>
    </div>
    </a>
    <a href="/decline-n">
    <div class="row container-fluid">
    <div class="accept">
      <p class="accept-p">
        No
      </p>
    </div>
  </div>
  </div>
      <div class="system-info-build">
        <h5>ALPHA Copy,</h5>
        <h5>Not all features may be avalible.</h5>
        <h5>Build <%=build %></h5>
      </div>
  </body>
</html>
