/*$nav : #9999FF;
$nav2 : #000080;*/
.hamburger1 {
  height: 100%;
}
.hamburger1 .ra {
  width: 30px;
  height: 2px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5px;
}
.hamburger1 .r1 {
  width: 30px;
  height: 2px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

/*$nav : #9999FF;
$nav2 : #000080;*/
body {
  font-family: Open-Sans;
}
body h1, body h2, body h3, body h4, body h5, body h6, body p, body div {
  font-family: Open-Sans;
}

.restofpage {
  position: absolute;
  background-color: #ebebeb !important;
}
.restofpage .container-fluid {
  margin-top: 10px;
  padding-left: 5px !important;
}
.restofpage .backer {
  position: absolute;
  width: 95.5%;
  height: 567px;
}
.restofpage .backer div {
  position: absolute;
  width: 24.7057%;
  height: 100%;
}
.restofpage .backer .back1 {
  background: #e74c3c;
  background: -webkit-linear-gradient(#e74c3c, #c0392b);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#e74c3c, #c0392b);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#e74c3c, #c0392b);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#e74c3c, #c0392b);
  /* Standard syntax */
  margin-left: 0%;
}
.restofpage .backer .back2 {
  background: #2c3e50;
  background: -webkit-linear-gradient(#2c3e50, #34495e);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#2c3e50, #34495e);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#2c3e50, #34495e);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#2c3e50, #34495e);
  /* Standard syntax */
  margin-left: 40%;
}
.restofpage .backer .back3 {
  background: #f1c40f;
  background: -webkit-linear-gradient(#f1c40f, #f39c12);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f1c40f, #f39c12);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f1c40f, #f39c12);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f1c40f, #f39c12);
  /* Standard syntax */
  margin-left: 20%;
}
.restofpage .backer .back4 {
  background: #2980b9;
  background: -webkit-linear-gradient(#2980b9, #3498db);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#2980b9, #3498db);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#2980b9, #3498db);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#2980b9, #3498db);
  /* Standard syntax */
  margin-left: 60%;
}
.restofpage .backer .back5 {
  background: #8e44ad;
  background: -webkit-linear-gradient(#8e44ad, #9b59b6);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#8e44ad, #9b59b6);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#8e44ad, #9b59b6);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#8e44ad, #9b59b6);
  /* Standard syntax */
  margin-left: 80%;
}

.runnings {
  width: 400px;
  background-color: #f2f2f2;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
}
.runnings h5 {
  margin-left: 10px;
  font-family: OpenSans-Bold;
}
.runnings ul {
  list-style-type: none;
  padding-left: 10px !important;
}
.runnings ul a {
  text-decoration: none;
}
.runnings ul a #success {
  color: #209251;
}
.runnings ul a #success:hover {
  color: #17693a;
}
.runnings ul a #fail {
  color: #e74c3c;
}
.runnings ul a #fail span {
  margin-right: 7px;
}
.runnings ul a #fail:hover {
  color: #c0392b;
}
.runnings ul a #error {
  color: #e67e22;
}
.runnings ul a #error span {
  margin-right: 10px;
  padding-left: 3px;
}
.runnings ul a #error:hover {
  color: #d35400;
}
.runnings ul a ul {
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
.runnings ul a ul #daterun {
  border-right: none !important;
}
.runnings ul a ul li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  border-right-style: solid;
  border-right-color: #bdc3c7;
  border-right-width: 1px;
  margin: 0 !important;
  padding: 1px 12.4px;
  right: 0 !important;
}
.runnings ul a ul li span {
  margin-left: -10px;
  margin-right: 4px;
}

.apps {
  margin-left: 410px;
  color: #141413 !important;
}
.apps ul {
  padding-left: 0 !important;
}
.apps ul a li ul {
  margin-left: 19.5% !important;
  margin-right: auto !important;
}
.apps ul a li ul li {
  color: #141413 !important;
}

/*# sourceMappingURL=dashboard-main.css.map */
