@import "web-os.css";
@import "fonts.css";
@import "boot.css";

body, html{
  background-image: url("/css/img/white.png");
  color: black;
}

h1 {
color: black;
}

h2 {
color: black;
}

h3,h4,h5,h6,div,label {
color: black;
}

nav {
  font-family: Source-Sans-Pro-Light;
  border-radius: 0px;
  background-image: white;
  border-radius: 0px;
}
.container-fluid {
  .header {
    margin-left: 1cm;
    h3 {
      margin-left: 1cm;
    }
  }
  .table-head {
    div {
      margin-left: 2cm;
    }
    margin-left: 1cm;
  }
}
.gly {
  width: 5cm;
  padding: 10px;
  padding-right: 0;
}
.gly:hover {
  background-image: url("/css/img/boot.jpg");
  width: 10cm;
  border-radius: 10px;
  padding: 10px;
  padding-right: 0;
}

.panel-body {
  color: white;
}
