@import "web-os.css";
@import "fonts.css";
@import "boot.css";

body, html{
  background-image: url("img/nav-back-two.png");
}

nav {
  font-family: Source-Sans-Pro-Light;
  border-radius: 0px;
  background-image: white;
  border-radius: 0px;
}
.container-fluid {
  .header {
    margin-left: 1cm;
    h3 {
      margin-left: 1cm;
    }
  }
  .table-head {
    div {
      margin-left: 2cm;
    }
    margin-left: 1cm;
  }
}
.gly {
  width: 1.25cm;
  padding-top: 10px;
}
.gly:hover {
  background-color: green;
  width: 1.25cm;
  padding-top: 10px;
}
