@import "mixins";
@import "fonts.css";
@import "carad";
@import "dnav";
@import "accent";
$col : #ff5900;

html, body {
  background-image: url(/css/img/nav-back-two.png);
}
.showcase {
  width: 100%;
  height: 461.5px;
  //background-color: $col;
  h1 {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 230px;
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: Source-Sans-Pro-Light;
  }
  h6,h4,h5,h5,h3,h2 {
    color: white;
    font-family: Source-Sans-Pro-Light;
    text-align: center;
  }
  div {
    ol {
      li {
        //margin-top: 50px;
      }
    }
  }

}
.asemw {
  $blur : 1px;
  -webkit-filter: blur($blur);
  -moz-filter: blur($blur);
  -o-filter: blur($blur);
  -ms-filter: blur($blur);
  filter: blur($blur);
}
.arrow {
  width: 100%;
  height: 90px;
  background-color: white;
  opacity: 0.5;
}
.sem{
     height:100px;
     width:200px;
     margin-left: auto;
     margin-right: auto;
     border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 90px 90px 0 0;
     background:white;
     opacity: 0.5;
     span {
       font-size: 50px;
       padding-top: 1cm !important;
       text-align: center;
       padding-left: 2cm;
     }
}
.ase:hover {
  margin-top: -10px;
  div {
    opacity: 1;
  }
}

.dash {
  width: 100%;
  height: 100%;
  background-color: white;
  margin-top: -50px;
}

.headerdash {
  padding-bottom: 0;
  h1 {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 230px;
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: Source-Sans-Pro-Light;
  }
  h6,h4,h5,h5,h3,h2 {
    color: white;
    font-family: Source-Sans-Pro-Light;
    text-align: center;
  }
  div {
    ol {
      li {
        //margin-top: 50px;
      }
    }
  }
}

.top {
    position:absolute;
    left:0; right:0;
    height: 92px;
}
.left {
    position:absolute;
    left:0; top:92px; bottom: 0;
    width: 178px;
}
.main {
    position: absolute;
    left:178px; top:92px; right:0; bottom:0;
}
.sidebar {
  width: 50px;
  background-color: black;
  $c : 50px;
  @mixin widhe {
    height: $c;
    width: $c;
  }
  li:hover {
    @include widhe;
    border-width: 0;
  }
  li {
    @include widhe;
    border-width: 0;
    a {
      border-radius: 0;
      border: 0;
      @include widhe;
        #h1, #h2, #h3 {
          height: 10px;
          background-color: blue;
          width: 10px;
        }
    }
    a:hover {
      border: 0;
      border-radius: 0;
      @include widhe;
      background-color: #262626;
    }
  }
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 2px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle {
  background-color: #203db3;
  padding: 0;
  padding-top: 23px;
  padding-left: 6px;
}
#nav-toggle:hover {
  background-color: #207db3;
}
