@import "web-os.css";
@import "fonts.css";
@import "boot.css";

@mixin cent() {
  margin-left: auto;
  margin-right: auto;
}

@mixin boot() {
  background-image: url("/css/img/boot.jpg");
}

body, html{
  background-image: url("/css/img/nav-back-two.png");
}

nav {
  font-family: Source-Sans-Pro-Light;
  border-radius: 0px;
  background-image: white;
  border-radius: 0px;
}
.t-node {
  background-image: url("/css/img/node-gradient.jpg");
}
.t-ruby {
  background-image: url("/css/img/ruby.png");
}
.t-python {
  background-image: url("/css/img/python.jpg");
}
.t-php {
  background-image: url("/css/img/php.png");
}

.container-fluid {
  .header {
    margin-left: 1cm;
    h3 {
      margin-left: 1cm;
    }
  }
  .table-head {
    div {
      margin-left: 2cm;
    }
    margin-left: 1cm;
  }
}
.gly {
  width: 5cm;
  padding: 10px;
  padding-right: 0;
}
.gly:hover {
  background-image: url("/css/img/boot.jpg");
  width: 10cm;
  border-radius: 10px;
  padding: 10px;
  padding-right: 0;
}

.panel-body {
  color: white;
}

nav .navbar, .navbar-default, .navtop {
  background-image: url("/css/img/boot.jpg");
  color: white;
  .container-fluid {
    div {
      a {
        color: white;
      }
      a:hover {
        color: red;
      }
      ul {
        .active {
          background-image: url("/css/img/nav-back-two.png");
          color: white;
        }
        a {
          color: white;
        }
        li {
          ul {
            a {
              color: black
            }
          }
        }
        li:hover {
          background-image: url("/css/img/nav-back-two.png");
        }
        a:hover {
          color: white;
          background-image: url("/css/img/nav-back-two.png");
        }
      }
    }
  }
  a {
    color: white;
  }
}

.table {
  width: 70%;
  border-style: dashed;
  border-width: 1px;
  border-radius: 5px;
  border-color: white;
  @include cent();
  @include boot();
  .t-node {
    background-image: url("/css/img/node-gradient.jpg");
  }
  .t-ruby {
    background-image: url("/css/img/ruby.png");
  }
  .t-python {
    background-image: url("/css/img/python.jpg");
  }
  .t-php {
    background-image: url("/css/img/php.png");
  }
  tbody {
    .t-node {
      background-image: url("/css/img/node-gradient.jpg");
    }
    .t-ruby {
      background-image: url("/css/img/ruby.png");
    }
    .t-python {
      background-image: url("/css/img/python.jpg");
    }
    .t-php {
      background-image: url("/css/img/php.png");
    }

  }
}
.t-node {
  background-image: url("/css/img/node-gradient.jpg");
}
.t-ruby {
  background-image: url("/css/img/ruby.png");
}
.t-python {
  background-image: url("/css/img/python.jpg");
}
.t-php {
  background-image: url("/css/img/php.png");
}
