$navp : 3cm;
$col : #ff5900;

nav {
  padding-left: $navp !important;
  padding-right: $navp !important;
  background-image: none;
  background-color: white;
  //background-size: 0 0 !important;
  .container-fluid {
    .navbar-header {
      div {
        a {
          color: white;
        }
        a:hover {
          background-color: #3757fa;
          -webkit-box-shadow: 0px 5px 7px -1px rgba(23,22,36,0.75);
          -moz-box-shadow: 0px 5px 7px -1px rgba(23,22,36,0.75);
          box-shadow: 0px 5px 7px -1px rgba(23,22,36,0.75);
        }
      }
    }
    div {
      ul {
        li {
          a {
            color: white !important;
          }
          ul {
            padding-top: 0px;
            padding-bottom: 0px;
            li {
              a {
                color: white !important;
                background-image: none;
                background-color: #fa7b37;
                border-color: $col;
              }
              a:hover {
                color: white !important;
                background-image: none;
                background-color: #3757fa;
                border-color: $col;
              }
            }
            li:hover {
              background-color: #3757fa;
              -webkit-box-shadow: 0px 0px 0px 0px rgba(23,22,36,0.75);
              -moz-box-shadow: 0px 0px 0px 0px rgba(23,22,36,0.75);
              box-shadow: 0px 0px 0px 0px rgba(23,22,36,0.75);
            }
            .divider {
              background-color: white;
              color: black;
              margin: 0px;
            }
          }
        }
        li:hover {
          background-color: #3757fa;
          -webkit-box-shadow: 0px 5px 7px -1px rgba(23,22,36,0.75);
          -moz-box-shadow: 0px 5px 7px -1px rgba(23,22,36,0.75);
          box-shadow: 0px 5px 7px -1px rgba(23,22,36,0.75);
        }
      }
    }
  }
}

.navbar {
    background-image: none;
    background-color: #fa7b37;
    border-color: $col;
    -webkit-box-shadow: 0px 5px 7px -1px rgba(23,22,36,1);
    -moz-box-shadow: 0px 5px 7px -1px rgba(23,22,36,1);
    box-shadow: 0px 5px 7px -1px rgba(23,22,36,1);
}
