/* Defines all the fonts */

@font-face {
     font-family: FiraSans-UltraLight;
     src: url(fonts/fira-sans/FiraSans-UltraLight.otf);
}

@font-face {
     font-family: Source-Sans-Pro-Light;
     src: url(fonts/source-sans-pro/SourceSansPro-Light.otf);
}

@font-face {
     font-family: FiraSans-UltraLight;
     src: url(fonts/fira-sans/FiraSans-UltraLight.otf);
}

@font-face {
     font-family: Courier_Prime;
     src: url(fonts/courier-prime/Courier_Prime.ttf);
}
