/* Defines all the fonts */

@font-face {
     font-family: FiraSans-UltraLight;
     src: url(fonts/fira-sans/FiraSans-UltraLight.otf);
}

@font-face {
     font-family: Source-Sans-Pro-Light;
     src: url(fonts/source-sans-pro/SourceSansPro-Light.otf);
}

@font-face {
     font-family: FiraSans-UltraLight;
     src: url(fonts/fira-sans/FiraSans-UltraLight.otf);
}

@font-face {
     font-family: Courier-Prime-Bold;
     src: url(fonts/courier-prime/Courier_Prime_Bold.ttf);
}

@font-face {
     font-family: Courier-Prime-Bold-Italic;
     src: url(fonts/courier-prime/Courier_Prime_Bold_Italic.ttf);
}

@font-face {
     font-family: Courier-Prime-Italic;
     src: url(fonts/courier-prime/Courier_Prime_Italic.ttf);
}

@font-face {
     font-family: Courier_Prime;
     src: url(fonts/courier-prime/Courier_Prime.ttf);
}

@font-face {
     font-family: Source-Sans-Pro-Light;
     src: url(fonts/source-sans-pro/SourceSansPro-Light.otf);
}

@font-face {
     font-family: Source-Sans-Pro-Bold;
     src: url(fonts/source-sans-pro/SourceSansPro-Bold.otf);
}

@font-face {
     font-family: Source-Sans-Pro-Regular;
     src: url(fonts/source-sans-pro/SourceSansPro-Regular.otf);
}

@font-face {
     font-family: Fira-Sans-Bold;
     src: url(fonts/fira-sans/FiraSans-Bold.otf);
}

@font-face {
     font-family: Fira-Sans-Bold-Italic;
     src: url(fonts/fira-sans/FiraSans-BoldItalic.otf);
}

.web-os-main-font {
  font-family: FiraSans-UltraLight;
}
