@import "web-os.css";

.pad-jum-down {
  padding-top: 2cm;
}

.base-pad {
  padding-left: 4.5cm;
}

body {
    color: white;
}

.sub-title {
   /* TODO: Create Subtitle class for subtitles  */
   padding-left: 4.5cm;
   font-size: 25px;
}

.system-info-build {
  
}
