@import "float.css";

@font-face {
     font-family: FiraSans-UltraLight;
     src: url(fonts/fira-sans/FiraSans-UltraLight.otf);
}


.web-os-back{
  background-image: url("img/nav-back-two.png");
  color: light-blue;
}

#head, body {
  font-family: FiraSans-UltraLight;
}

.blue {

}

.pad-top-middle {
  padding-top: 3cm;
}

.pad-jum-down {
  padding-top: 2cm;
}

.system-info-build {
  /*padding-left: 100%*/
  text-align: right;
  padding-top: 25%;
  padding-right: 0.5cm;
}
