@import "../fonts";
@import "../resources/default";

body {
  font-family: Open-Sans !important;
  background-color: #ecf0f1;
}
$color : #34495e;
.jakhunav {
  border: none !important;
  background-color: #ecf0f1 !important;
  color: $color !important;
  border-radius: 0 !important;
  font-family: OpenSans-Regular !important;
  div {
    .navbar-collapse {
      ul {
        .active {
          a {
            background-color: #d2dcdf !important;
            color: #2980b9 !important;
          }
        }
        li a {
          background-color: #ecf0f1 !important;
          color: $color !important;
          img {
            width: 20px;
            height: 20px;
            border-radius: 100px;
            margin-right: 10px;
            margin-top: 1px;
          }
        }
        li a:hover {
          background-color: #d2dcdf !important;
        }
        li ul {
          background-color: #ecf0f1 !important;
          color: $color !important;
          .divider {
            margin-bottom: 5px !important;
          }
          a {
            word-spacing: 4px;
          }
        }
      }
    }
    .navbar-header {
      a {
        color: #34495e !important;
      }
    }
  }
}
.header {
  margin-top: 70px;
  margin-left: 50px;
  font-family: OpenSans-Regular;
  color: #2b383b;
}
