doctype html
html
  head
    meta(charset="utf-8")
    |     
    link(rel="stylesheet", href="bootstrap/dist/css/bootstrap.min.css")
    | &#x9;&#x9;
    link(rel="stylesheet", href="bootstrap/dist/css/bootstrap.css.map")
    | &#x9;&#x9;
    link(rel="stylesheet", href="bootstrap/dist/css/bootstrap.css")
    | &#x9;&#x9;
    link(rel="stylesheet", href="bootstrap/dist/css/bootstrap-theme.css.map")
    | &#x9;&#x9;
    link(rel="stylesheet", href="bootstrap/dist/css/bootstrap-theme.min.css")
    | &#x9;&#x9;
    link(rel="stylesheet", href="bootstrap/dist/css/bootstrap-theme.css")
    |     
    link(rel="stylesheet/less", type="text/css", href="css/main.css")
    |     
    script(src="less/dist/less.js", type="text/javascript")
    |     
    title Sign in | Web-OS
  |   
  body
    .container.pull-middle.pad-top-middle
      form.form-signin.small.middle.pad-middle-l(method="post", action="/login")
        h2#head.form-signin-heading.pull-middle Hello, sign in here
        |       
        label.sr-only.pull-middle(for="inputEmail") Username
        |       
        input#inputEmail.form-control.small.pull-middle.email(autofocus="", required="", type="text", placeholder="Username", name="username")
        |       
        label.sr-only.pull-middle(for="inputPassword") Password
        |       
        input#inputPassword.form-control.small.pull-middle.email(required="", type="password", placeholder="Password", name="password")
        |       
        .checkbox.pull-middle
          //
            <label>
            <input type="checkbox" value="remember-me"> Remember me
            </label>
        |       
        button.btn.btn-lg.btn-primary.btn-block.pull-middle.email-in(type="submit") Sign in
      |     
      h5.white.middle.pad-little-top
        span.glyphicon.glyphicon-dashboard
        |  Admin? Login 
        a(href="/admin") Here
      |     
      h3.blue webOS
    |   
    .system-info-build
      h5 ALPHA Copy,
      |     
      h5 Not all features may be avalible.
      |     
      h5 Build 
